<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="LSENext"
    Manufacturer="LSENext contributors"
    Version="0.0.1.0"
    UpgradeCode="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B001"
    Scope="perMachine">
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of LSENext is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main" Title="LSENext" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="LSENext" />
    </StandardDirectory>
  </Package>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="HelperExe" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B101">
        <File Id="HelperExeFile" Source="$(var.SourceDir)\lsenext-helper.exe" KeyPath="yes" />
      </Component>
      <Component Id="ShellDll" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B102">
        <File Id="ShellDllFile" Source="$(var.SourceDir)\lsenext-shell.dll" KeyPath="yes" />
      </Component>
      <Component Id="ShellRegistration" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B107">
        <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{32AD61D5-1919-4582-95DC-D9EB0BB6E001}" Name="(default)" Value="LSENext Pick Link Source" Type="string" KeyPath="yes" />
        <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{32AD61D5-1919-4582-95DC-D9EB0BB6E001}\InprocServer32" Name="(default)" Value="[INSTALLFOLDER]lsenext-shell.dll" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{32AD61D5-1919-4582-95DC-D9EB0BB6E001}\InprocServer32" Name="ThreadingModel" Value="Both" Type="string" />

        <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{32AD61D5-1919-4582-95DC-D9EB0BB6E002}" Name="(default)" Value="LSENext Drop Symbolic Link" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{32AD61D5-1919-4582-95DC-D9EB0BB6E002}\InprocServer32" Name="(default)" Value="[INSTALLFOLDER]lsenext-shell.dll" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{32AD61D5-1919-4582-95DC-D9EB0BB6E002}\InprocServer32" Name="ThreadingModel" Value="Both" Type="string" />

        <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{32AD61D5-1919-4582-95DC-D9EB0BB6E003}" Name="(default)" Value="LSENext Drop Directory Junction" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{32AD61D5-1919-4582-95DC-D9EB0BB6E003}\InprocServer32" Name="(default)" Value="[INSTALLFOLDER]lsenext-shell.dll" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{32AD61D5-1919-4582-95DC-D9EB0BB6E003}\InprocServer32" Name="ThreadingModel" Value="Both" Type="string" />

        <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{32AD61D5-1919-4582-95DC-D9EB0BB6E004}" Name="(default)" Value="LSENext Clear Link Source" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{32AD61D5-1919-4582-95DC-D9EB0BB6E004}\InprocServer32" Name="(default)" Value="[INSTALLFOLDER]lsenext-shell.dll" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{32AD61D5-1919-4582-95DC-D9EB0BB6E004}\InprocServer32" Name="ThreadingModel" Value="Both" Type="string" />

        <RegistryValue Root="HKLM" Key="Software\Classes\*\shell\LSENext.PickSource" Name="MUIVerb" Value="Pick Link Source" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\*\shell\LSENext.PickSource" Name="Icon" Value="[INSTALLFOLDER]lsenext-helper.exe" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\*\shell\LSENext.PickSource" Name="ExplorerCommandHandler" Value="{32AD61D5-1919-4582-95DC-D9EB0BB6E001}" Type="string" />

        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shell\LSENext.PickSource" Name="MUIVerb" Value="Pick Link Source" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shell\LSENext.PickSource" Name="Icon" Value="[INSTALLFOLDER]lsenext-helper.exe" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shell\LSENext.PickSource" Name="ExplorerCommandHandler" Value="{32AD61D5-1919-4582-95DC-D9EB0BB6E001}" Type="string" />

        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shell\LSENext.DropSymbolic" Name="MUIVerb" Value="Drop Symbolic Link" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shell\LSENext.DropSymbolic" Name="Icon" Value="[INSTALLFOLDER]lsenext-helper.exe" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shell\LSENext.DropSymbolic" Name="ExplorerCommandHandler" Value="{32AD61D5-1919-4582-95DC-D9EB0BB6E002}" Type="string" />

        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shell\LSENext.DropJunction" Name="MUIVerb" Value="Drop Directory Junction" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shell\LSENext.DropJunction" Name="Icon" Value="[INSTALLFOLDER]lsenext-helper.exe" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shell\LSENext.DropJunction" Name="ExplorerCommandHandler" Value="{32AD61D5-1919-4582-95DC-D9EB0BB6E003}" Type="string" />

        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shell\LSENext.ClearSource" Name="MUIVerb" Value="Clear Link Source" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shell\LSENext.ClearSource" Name="Icon" Value="[INSTALLFOLDER]lsenext-helper.exe" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shell\LSENext.ClearSource" Name="ExplorerCommandHandler" Value="{32AD61D5-1919-4582-95DC-D9EB0BB6E004}" Type="string" />

        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\Background\shell\LSENext.DropSymbolic" Name="MUIVerb" Value="Drop Symbolic Link" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\Background\shell\LSENext.DropSymbolic" Name="Icon" Value="[INSTALLFOLDER]lsenext-helper.exe" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\Background\shell\LSENext.DropSymbolic" Name="ExplorerCommandHandler" Value="{32AD61D5-1919-4582-95DC-D9EB0BB6E002}" Type="string" />

        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\Background\shell\LSENext.DropJunction" Name="MUIVerb" Value="Drop Directory Junction" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\Background\shell\LSENext.DropJunction" Name="Icon" Value="[INSTALLFOLDER]lsenext-helper.exe" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\Background\shell\LSENext.DropJunction" Name="ExplorerCommandHandler" Value="{32AD61D5-1919-4582-95DC-D9EB0BB6E003}" Type="string" />

        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\Background\shell\LSENext.ClearSource" Name="MUIVerb" Value="Clear Link Source" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\Background\shell\LSENext.ClearSource" Name="Icon" Value="[INSTALLFOLDER]lsenext-helper.exe" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Directory\Background\shell\LSENext.ClearSource" Name="ExplorerCommandHandler" Value="{32AD61D5-1919-4582-95DC-D9EB0BB6E004}" Type="string" />
      </Component>
      <Component Id="ManifestFile" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B103">
        <File Source="$(var.SourceDir)\packaging\AppxManifest.xml" KeyPath="yes" />
      </Component>
      <Component Id="InstallScripts" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B104">
        <File Source="$(var.SourceDir)\packaging\install.ps1" KeyPath="yes" />
        <File Source="$(var.SourceDir)\packaging\uninstall.ps1" />
      </Component>
      <Component Id="EnglishStrings" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B105">
        <File Source="$(var.SourceDir)\resources\strings\en-US.json" KeyPath="yes" />
      </Component>
      <Component Id="ChineseStrings" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B106">
        <File Source="$(var.SourceDir)\resources\strings\zh-CN.json" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
