<?xml version="1.0" encoding="utf-8"?>
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="LSENext"
    Manufacturer="LSENext contributors"
    Version="0.0.2.0"
    UpgradeCode="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B001"
    Scope="perMachine">
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of LSENext is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main" Title="LSENext" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="LSENext">
        <Directory Id="ASSETSFOLDER" Name="Assets" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder" />
  </Package>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="HelperExe" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B101">
        <File Id="HelperExeFile" Source="$(var.SourceDir)\lsenext-helper.exe" KeyPath="yes" />
      </Component>
      <Component Id="ShellDll" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B102">
        <File Id="ShellDllFile" Source="$(var.SourceDir)\lsenext-shell.dll" KeyPath="yes" />
      </Component>
      <Component Id="PackageAssets" Directory="ASSETSFOLDER" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B109">
        <File Source="$(var.SourceDir)\Assets\StoreLogo.png" />
        <File Source="$(var.SourceDir)\Assets\Square150x150Logo.png" />
        <File Source="$(var.SourceDir)\Assets\LSENext.ico" />
        <File Source="$(var.SourceDir)\Assets\Square44x44Logo.png" KeyPath="yes" />
      </Component>
      <Component Id="ShellRegistration" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B107">
        <RemoveRegistryKey Root="HKLM" Key="Software\Classes\*\shell\LSENext" Action="removeOnInstall" />
        <RemoveRegistryKey Root="HKLM" Key="Software\Classes\Directory\shell\LSENext" Action="removeOnInstall" />
        <RemoveRegistryKey Root="HKLM" Key="Software\Classes\Directory\Background\shell\LSENext" Action="removeOnInstall" />
        <RemoveRegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\CommandStore\shell\LSENext.PickSource" Action="removeOnInstall" />
        <RemoveRegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\CommandStore\shell\LSENext.DropSymbolic" Action="removeOnInstall" />
        <RemoveRegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\CommandStore\shell\LSENext.DropJunction" Action="removeOnInstall" />
        <RemoveRegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\CommandStore\shell\LSENext.BackgroundDropSymbolic" Action="removeOnInstall" />
        <RemoveRegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\CommandStore\shell\LSENext.BackgroundDropJunction" Action="removeOnInstall" />
        <RemoveRegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\CommandStore\shell\LSENext.ClearSource" Action="removeOnInstall" />
        <RegistryValue Root="HKLM" Key="Software\LSENext" Name="NativeContextMenu" Value="1" Type="integer" KeyPath="yes" />
      </Component>
      <Component Id="StartMenuShortcut" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B108">
        <Shortcut Id="StartMenuShortcut" Directory="ProgramMenuFolder" Name="LSENext" Target="[INSTALLFOLDER]lsenext-helper.exe" Arguments="about" WorkingDirectory="INSTALLFOLDER" />
<?if $(BuildConfiguration) = debug ?>
        <Shortcut Id="RepairNativeMenuShortcut" Directory="ProgramMenuFolder" Name="LSENext Repair Native Menu" Target="[INSTALLFOLDER]lsenext-helper.exe" Arguments="repair-native-menu" WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="DiagnosticsShortcut" Directory="ProgramMenuFolder" Name="LSENext Diagnostics" Target="[INSTALLFOLDER]lsenext-helper.exe" Arguments="diagnostics" WorkingDirectory="INSTALLFOLDER" />
<?endif ?>
        <RegistryValue Root="HKCU" Key="Software\LSENext" Name="StartMenuShortcut" Value="1" Type="integer" KeyPath="yes" />
      </Component>
      <Component Id="ManifestFile" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B103">
        <File Source="$(var.SourceDir)\AppxManifest.xml" KeyPath="yes" />
      </Component>
      <Component Id="IdentityPackage" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B10A">
        <File Source="$(var.SourceDir)\LSENext.identity.msix" />
        <File Source="$(var.SourceDir)\LSENext.cer" KeyPath="yes" />
      </Component>
      <Component Id="InstallScripts" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B104">
        <File Source="$(var.SourceDir)\packaging\install.ps1" KeyPath="yes" />
        <File Source="$(var.SourceDir)\packaging\uninstall.ps1" />
      </Component>
      <Component Id="EnglishStrings" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B105">
        <File Source="$(var.SourceDir)\resources\strings\en-US.json" KeyPath="yes" />
      </Component>
      <Component Id="ChineseStrings" Guid="58BDBD4A-3D93-4FB9-8BBD-30EBBBE0B106">
        <File Source="$(var.SourceDir)\resources\strings\zh-CN.json" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <CustomAction Id="RegisterPackageIdentity" FileRef="HelperExeFile" ExeCommand="register-package" Execute="immediate" Return="check" />
    <CustomAction Id="UnregisterPackageIdentity" FileRef="HelperExeFile" ExeCommand="unregister-package" Execute="immediate" Return="ignore" />
    <InstallExecuteSequence>
      <Custom Action="RegisterPackageIdentity" After="InstallFiles" Condition="NOT REMOVE" />
      <Custom Action="UnregisterPackageIdentity" Before="RemoveFiles" Condition="REMOVE=&quot;ALL&quot;" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
